* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	/*font-family: 'Baloo Bhaina 2', cursive;*/
	/*font-family: 'Montserrat', sans-serif;*/
}

/*LANDING*/
.tab-content button:hover {
	box-shadow: 0 0 5px #333;
	transition: .3s;
}
.tab-content a:hover {
	box-shadow: 0 0 5px #333;
	transition: .3s;
}
.summary a:hover {
	box-shadow: 0 0 5px #333;
	transition: .3s;
}
input:hover {
	background-color: #f2f2f2;
	transition: .3s;
}
#covidTitle {
	font-size: 5em;
	font-family: 'Baloo Bhaina 2', cursive;
}
.nav a {
	color: #f00;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.nav a:hover {
	color: #333;
}
.navbar {
	border-bottom: 5px solid #dc3545;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
}
.footer {
	font-family: 'Montserrat', sans-serif;
	border-top: 5px solid #dc3545;
	font-weight: bold;
}
/*END LANDING*/

/*PROFILE*/
.custom-control-input {
	background-color: red;
}
/*END PROFILE*/

/*START ANONYMOUSLY*/
/*home*/
#traveller {
	display: block;
}
#exposure {
	display: none;
}
#symptoms {
	display: none;
}

/*summary*/
.simg hr {
	margin-top: 0;
	height: 50vh;
	width: 100%;
	background-size: cover;
	background-position: center;
	background-image: url(../images/fistbump.jpg);
	background-repeat: no-repeat;
	background-attachment: fixed;
}
#print:hover {
	transform: scale(1.2);
	transition: .3s;
}
#coronavirus {
	height: 32vh;
}
/*END ANONYMOUSLY*/


/* MEDIUM SCREEN */
@media only screen and (min-width: 451px) and (max-width: 960px) {
	
	.covidImage {
		height: 50vh;
	}

}

/* SMALL SCREEN */
@media only screen and (max-width: 451px) {

	#covidTitle {
		font-size:3em;
	}

}
